---
import type { Photo } from '../photos'

interface Props {
  photo: Photo
  isCurrent?: boolean
  withoutTransition?: boolean
}

const { photo, isCurrent, withoutTransition } = Astro.props
---

<div class:list={[`grid__cell`, { 'grid__cell--current': isCurrent }]}>
  <div class="grid__cell-img">
    <a href={`/photo/${photo.id}`}>
      {
        withoutTransition ? (
          <img
            loading="lazy"
            width="300"
            height="300"
            src={photo.url}
            alt={photo.title}
            class="grid__cell-img-inner"
          />
        ) : (
          <img
            loading="lazy"
            width="300"
            height="300"
            src={photo.url}
            alt={photo.title}
            class="grid__cell-img-inner"
            transition:name={`photo-${photo.id}`}
          />
        )
      }
    </a>
  </div>
</div>
