---
import type { Photo } from '../photos'

interface Props {
  photo: Photo
  isCurrent?: boolean
  noTransitionName?: boolean
}

const { photo, isCurrent, noTransitionName } = Astro.props
---

<div
  class:list={[
    `grid__cell grid__cell-c${photo.column}-r${photo.row}`,
    { 'grid__cell--current': isCurrent },
  ]}
>
  <div class="grid__cell-img">
    <a href={`/photo/${photo.id}`}>
      {
        noTransitionName ? (
          <div
            class="grid__cell-img-inner"
            style={`background-image:url(/img/${photo.id}.jpg)`}
          />
        ) : (
          <div
            class="grid__cell-img-inner"
            style={`background-image:url(/img/${photo.id}.jpg)`}
            transition:name={`photo-${photo.id}`}
          />
        )
      }
    </a>
  </div>
</div>
