---
import type { Photo } from '../photos'

interface Props {
  photo: Photo
  isCurrent?: boolean
  withoutTransition?: boolean
}

const { photo, isCurrent, withoutTransition } = Astro.props
---

<div
  class:list={[
    `grid__cell grid__cell-c${photo.column}-r${photo.row}`,
    { 'grid__cell--current': isCurrent },
  ]}
>
  <div class="grid__cell-img">
    <a href={`/photo/${photo.id}`}>
      {
        withoutTransition ? (
          <div
            class="grid__cell-img-inner"
            style={`background-image:url(/img/${photo.id}.jpg)`}
            aria-label={photo.title}
          />
        ) : (
          <div
            class="grid__cell-img-inner"
            style={`background-image:url(/img/${photo.id}.jpg)`}
            aria-label={photo.title}
            transition:name={`photo-${photo.id}`}
          />
        )
      }
    </a>
  </div>
</div>
